#mini-player-scoreboard {
	counter-reset: miniPlayerCard;
}

.miniPlayerCard::before {
	counter-increment: miniPlayerCard;
	content: counter(miniPlayerCard) ' ';
}

.miniPlayerCard:first-child {
	background-color: gold;
}

.miniPlayerCard:nth-child(2) {
	background-color: silver;
}

.miniPlayerCard:nth-child(3) {
	background-color: burlywood;
}
